---
interface Props {
	title: string;
	description: string;
	img: string;
    action: string;
    logo: ImageMetadata;
    siteName: string;
    menuLinks: object;
}
const { title, description, img, action, logo, siteName, menuLinks } = Astro.props;

import { Image } from 'astro:assets';

// const pathname = new URL(Astro.request.url).pathname;
// const currentPath = pathname.slice(1); // remove the first "/"
// https://www.cyishere.dev/blog/astro-active-nav-item
---

<div class="top-wrap uk-position-relative uk-light uk-background-secondary">

    <!-- NAV -->
    <div class="nav uk-sticky" uk-sticky="cls-active: uk-background-secondary uk-box-shadow-medium; top: 100vh; animation: uk-animation-slide-top">
        <div class="uk-container">
            <nav class="uk-navbar uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-left">
                    <div class="uk-navbar-item uk-padding-remove-horizontal">
                        <a href="/" class="uk-logo uk-flex uk-gap-xs" title="Logo">
                            <Image src={logo} alt={siteName}/>
                            <span class="site-name">{siteName}</span>
                        </a>
                    </div>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav uk-visible@s">
                        {Object.entries(menuLinks).map(([key, value]) => (
                            <li><a href={value}>{key}</a></li>
                        ))}
                    </ul>

                    <button class="uk-navbar-toggle uk-hidden@s" type="button" uk-toggle="target: #offcanvas-nav" uk-icon="icon: menu; ratio: 1.5"></button>

                </div>
            </nav>
        </div>
    </div>
    <div class="uk-sticky-placeholder"></div>
    <!-- /NAV -->

    <div class="uk-cover-container uk-light uk-flex uk-flex-middle top-wrap-height">

        <div class="uk-container uk-flex-auto top-container uk-position-relative uk-margin-medium-top" uk-parallax="y: 0,50; easing:0; opacity:0.2" style="transform: translateY(2.21519px); will-change: transform, opacity; opacity: 0.964557;">
            <div class="uk-width-1-2@s" uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150">
                <h1 class="uk-margin-remove-top uk-scrollspy-inview">{title}</h1>
                <h2 class="subtitle-text uk-scrollspy-inview ">{description}</h2>
                {action && <a href={action} title="Learn More" class="uk-button uk-button-primary uk-border-pill uk-scrollspy-inview " uk-scrollspy-class="uk-animation-fade">LEARN MORE</a>}
            </div>
        </div>

        <!-- TOP IMAGE -->
        <img
            src={img}
            uk-cover uk-parallax="opacity: 1,0.1; easing:0"
            sizes="100vw">

    </div>

    <!-- OVERLAY -->
    <div class="uk-overlay-primary uk-position-cover"></div>

    <!-- SHOW MORE ARROW DOWN -->
    <div class="uk-position-bottom-center uk-position-medium uk-position-z-index uk-text-center">
        <a href="#main" uk-scroll="duration: 500" uk-icon="icon: arrow-down; ratio: 2"></a>
    </div>

</div>

<style>
    .uk-overlay-primary {
        background: rgb(34 34 34 / 46%);
    }
</style>