---
interface Props {
	filterCategory: string;
	title: string;
	description: string;
	body: string;
	img: ImageMetadata;
	readTime: number;
	comments: number;
	likes: number;
	twitter: string;
	facebook: string;
	youtube: string;
	tiktok: string;
	instagram: string;
	behance: string;
	pinterest: string;
}
import { Image } from 'astro:assets';

const { filterCategory, title, description, body, img, readTime, comments, likes, twitter, facebook, youtube, tiktok, instagram, behance, pinterest } = Astro.props;
---

<!-- card -->
<div class={filterCategory} data-tags={filterCategory}>
	<div class="uk-card uk-card-small uk-card-default">
		<div class="uk-card-header">
			<div class="uk-grid uk-grid-small uk-text-small" uk-grid>
				<div class="uk-width-expand">
					<span class="cat-txt">{title}</span>
				</div>
				<div class="uk-flex uk-flex-middle uk-width-auto uk-text-right uk-text-muted uk-text-middle">
					<span class='raedtime-icon' uk-icon="icon:clock; ratio: 0.8"></span> <span>{readTime} min.</span>
				</div>
			</div>
		</div>
		<div class="uk-card-media">
			<div class="uk-inline-clip uk-transition-toggle" tabindex="0">
				<Image src={img} alt={title}/>
				<div class="uk-iconnav uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary">
					<span uk-icon="icon:heart; ratio: 0.8"> {likes} </span>
					<span uk-icon="icon:comment; ratio: 0.8"> {comments} </span>
				</div>
			</div>

		</div>
		<div class="uk-card-body">
			<h6 class="uk-margin-small-bottom uk-margin-remove-adjacent uk-text-bold">{description}</h6>
			<p class="uk-text-small uk-text-muted">{body}</p>
		</div>
		<div class="uk-card-footer">
			<div class="uk-grid uk-grid-small uk-grid-divider uk-flex uk-flex-middle" uk-grid>
				<div class="uk-width-expand uk-text-small">
					John Doe
				</div>
				<div class="uk-iconnav uk-width-auto uk-text-right">
					{twitter && <a href={twitter} uk-tooltip="title: Twitter" class="uk-icon-link" uk-icon="icon:twitter; ratio: 0.8"></a>}
					{facebook && <a href={facebook} uk-tooltip="title: Facebook" class="uk-icon-link" uk-icon="icon:facebook; ratio: 0.8"></a>}
					{youtube && <a href={youtube} uk-tooltip="title: Youtube" class="uk-icon-link" uk-icon="icon:youtube; ratio: 0.8"></a>}
					{tiktok && <a href={tiktok} uk-tooltip="title: TikTok" class="uk-icon-link" uk-icon="icon:tiktok; ratio: 0.8"></a>}
					{instagram && <a href={instagram} uk-tooltip="title: Instagram" class="uk-icon-link" uk-icon="icon:instagram; ratio: 0.8"></a>}
					{pinterest && <a href={pinterest} uk-tooltip="title: Pinterest" class="uk-icon-link" uk-icon="icon:pinterest; ratio: 0.8"></a>}
					{behance && <a href={behance} uk-tooltip="title: Behance" class="uk-icon-link" uk-icon="icon:behance; ratio: 0.8"></a>}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /card -->

<style>
	.raedtime-icon {
		margin-right: 2px;
	}
</style>